@import "./utils/variables.module.scss";
@font-face {
  font-family: reTurnDoneFont;
  src: url(../src/assets/fonts/VarelaRound-Regular.ttf);
}

*{
  font-family: reTurnDoneFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body{
  background-color: $white;
  color: #212529;
}

.returnDone{
  text-align: center;
  padding-top: 88px;
  background-color: $white;
  @include for-tab-only{
    padding-top: 65px;
  }
  @include for-phone-only{
    padding-top: 65px;
  }
}

// input[type="radio"] {
//   /* Add if not using autoprefixer */
//   -webkit-appearance: none;
//   /* Remove most all native input styles */
//   appearance: none;
//   /* For iOS < 15 */
//   background-color: var(--form-background);
//   /* Not removed via appearance */
//   margin: 0;

//   font: inherit;
//   color: currentColor;
//   width: 1.15em;
//   height: 1.15em;
//   border: 0.15em solid currentColor;
//   border-radius: 50%;
//   // transform: translateY(-0.075em);
// }
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}


[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    width: 75%;
    height: 35px;
    padding: 5px 0 0 0;
    border: 2px solid $primaryColor;
    text-align: center;
    width: 200px;
    color: $primaryColor;
    &:hover{
      background: $primaryColor;
      color: $white;
    }
}

[type="radio"]:disabled + label{
  &:hover{
    color: $primaryColor;
    background: $white;
  }
}

[type="radio"]:checked + label{
  background: $primaryColor;
      color: $white;
}
// [type="radio"]:checked + label:before,
// [type="radio"]:not(:checked) + label:before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 18px;
//     height: 18px;
//     border: 2px solid $primaryColor;
//     border-radius: 100%;
//     background: #fff;
// }
// [type="radio"]:checked + label:after,
// [type="radio"]:not(:checked) + label:after {
//     content: '';
//     width: 12px;
//     height: 12px;
//     background: $primaryColor;
//     position: absolute;
//     top: 3px;
//     left: 3px;
//     border-radius: 100%;
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
// }
// [type="radio"]:not(:checked) + label:after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// [type="radio"]:checked + label:after {
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }

.is-invalid{
  .invalid-feedback{
      display: block;
  }
}

.btn{
  &-primary{
    @extend .primaryButton;
    background-color: red;
  }
}

.form-control{
  border-color: $primaryColor !important;
  &::placeholder{
    font-style: italic;
    opacity: 0.7;
  }
}

.swiper-slide{
  height: 150px !important;
  justify-content: center;
  align-items: center;
  display: flex !important;

    img{
      @include for-phone-only{
        width: 75px;
      }
    }
  
}


// .swiper-slide{
//   margin-top: auto !important;
//   margin-bottom: auto !important;
  
//   img{
//     width: 155px;
//     padding: 2% 2%;
//     box-shadow: inset 0 -2em 2em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
//     0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
//     @include for-tab-only{
//       width: 100px;
//     }

//     @include for-phone-only{
//       width: 75px;
//     }
//   }
// }

// .swiper-slide-prev{
//   margin-left: -20px;
//   @include for-tab-only{
//     margin: 0;
//   }
// }

// .swiper-slide-active{
//   margin-left: -20px;
//   @include for-tab-only{
//     margin: 0;
//   }
// }


.react-datepicker-wrapper{
  input{
    display: block;
    width: 15rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: $primaryColor;
  }
}

.react-datepicker__input-container{
  width: auto !important;
}

.swiper-slide{
  height: auto !important;
}
.disabled-returnDay{

}

/* reset css */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill::first-line {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000 !important;
}