@import "./utils/variables.module.scss";
body{
  background-color: $secondaryColor;
  color: #212529;
}

.returnDone{
  text-align: center;
  padding-top: 88px;
  background-color: $secondaryColor;
}

// input[type="radio"] {
//   /* Add if not using autoprefixer */
//   -webkit-appearance: none;
//   /* Remove most all native input styles */
//   appearance: none;
//   /* For iOS < 15 */
//   background-color: var(--form-background);
//   /* Not removed via appearance */
//   margin: 0;

//   font: inherit;
//   color: currentColor;
//   width: 1.15em;
//   height: 1.15em;
//   border: 0.15em solid currentColor;
//   border-radius: 50%;
//   // transform: translateY(-0.075em);
// }
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #212529;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $primaryColor;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $primaryColor;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.is-invalid{
  .invalid-feedback{
      display: block;
  }
}

.btn{
  &-primary{
    @extend .primaryButton;
    background-color: red;
  }
}

.form-control{
  border-color: $primaryColor !important;
}

.swiper-slide-active,.swiper-slide-prev {
  margin-right: 0 !important;
}


.react-datepicker-wrapper{
  input{
    display: block;
    width: 15rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: $primaryColor;
  }
}