@import '../../utils/variables.module.scss';

.re_Steps{
 padding: 6% 2%;
    @include for-phone-only{
        padding: 12% 4%;
    }
 background: $white;
h3{
    // font-weight: bold;
      font-size: 3rem;
      background: -webkit-linear-gradient(left, #0d9692 25%, #203534);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include for-tab-only{
        font-size: 2.25rem;
      }
      @include for-phone-only{
        font-size: 1.85rem;
        span{
            display: block;
        }
      }
}
 &_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }

}

.pricing {
   h3{
    //   font-size: 1.5rem;
      font-weight: normal;
      font-size: 2.5rem;
      background: -webkit-linear-gradient(left, #0d9692 25%, #203534);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include for-tab-only{
         font-size: 1rem;
         font-weight: bold;
      }
   }
   
}

.reBanner_btn{
   @extend .secondaryButton;
   margin-top: 1rem;
   &_link{
       color: $secondaryColor;
       text-decoration: none;
       font-weight: bold;
       &:visited,&:hover{
           color: $secondaryColor !important;
       }
   }
}

