<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ceb4351c-0da5-4da0-aa38-7d2ef96275e1/resourceGroups/EmailSendAPIBasic_src/providers/Microsoft.Web/sites/SendEmailDotNetCoreWebAPI</ResourceId>
    <ResourceGroup>EmailSendAPIBasic_src</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://sendemaildotnetcorewebapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://sendemaildotnetcorewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SendEmailDotNetCoreWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>