@import '../../utils/variables.module.scss';

.reBanner{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 32.95%;
    // overflow: hidden;
    // padding-bottom: 100%;
    
    &_container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $primaryColor;
        width: 100%;
        height: 100%;
        // max-height: 420px;
        img{
            width: 100%;
            max-width: 100%;
            // height: auto;
            // max-height: 420px;
        }

        .overlay{
            background-color: rgba(0,0,0,0.7);
            width: 100%;
            height: 100%;
        }

    }
    &_text{
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-85%, -0%);
        -webkit-transform: translate(-85%,-0%);

        h1{
            font-size: 2.75rem;
        }
    }

    &_btn{
        @extend .secondaryButton;

        a{
            color: $secondaryColor;
            text-decoration: none;
            font-weight: bold;
            // :hover{
            //     font-weight: bold;
            // }

            :visited{
                color: inherit;
            }
        }
    }

    .aspect16_9{
        // padding-bottom: 27.25%;
    }
}

.primary_text{
    color: $primaryColor;
}

  .re_header{
    width: 45%;
    display: flex;
    padding: 2% 0;
    h1{
        color: white;
        display: flex;
        padding: 20% 20%;
    }
  }

.reRolling_text{
    margin: 2% 0;
    span{
        color: $primaryColor;
    }
}

.fade_in {
    transition: opacity 1s ease;
}
.fade_out {
    opacity: 0;
    transition: opacity 1s ease;
}