// .swiper-slide-active{
//     zoom: 1.5;
// }

.brand_carousel{
    padding: 4% 0;
    .swiper-slide-active{
        margin-right: 0 !important;
    }
    .swiper-slide{
        margin-right: 0 !important;
    }
}

