$primaryColor: #0d9692;
$secondaryColor: #d9dfee;
$white: #fff;

.primaryButton{
    background-color: $secondaryColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    font-size: 0.875rem;
    width: 120px;
    height: 44px;
}

.secondaryButton{
    background-color: $primaryColor;
    color: $secondaryColor;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    font-size: 0.875rem;
    width: 120px;
    height: 44px;
}

// :export {
//     primaryColor: $primaryColor;
//     secondaryColor: $secondaryColor;
//     white: $white;
// }