$primaryColor: #0d9692;
$secondaryColor:#fff;// #d9dfee;
$white: #fff;
$tertiaryColor: #c4e4e3;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tab-only {
    @media (max-width: 1119px ) { @content; }
}

@mixin for-tab-only-potrait {
    @media (max-width: 900px ) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 767px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}


.primaryButton{
    background-color: $secondaryColor;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    border-radius: 25px;
    font-size: 1.15rem;
    width: 135px;
    height: 44px;

    &:hover,&:focus{
        background: -webkit-linear-gradient( #0d9692, #203534);
        color: white;
        & a{
            text-decoration: underline;
            -webkit-text-fill-color: white;
            &:hover,&:focus{
                color: white;
                -webkit-text-fill-color: white;
                text-decoration: underline;
                outline: none;
            }
        }
    }
    a{
        background: -webkit-linear-gradient( #0d9692, #203534);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @include for-tab-only(){
        font-size: 0.85rem;
        width: 125px;
        height: 35px;
    }

    @include for-phone-only(){
        font-size: 0.85rem;
        width: 125px;
        height: 35px;
    }
}

.secondaryButton{
    background: linear-gradient(#0d9692, #203534);
    color: $secondaryColor;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    font-size: 1.15rem;
    width: 135px;
    height: 44px;
    &:hover{
        background: $primaryColor;
    }

    @include for-tab-only(){
        font-size: 0.75rem;
        width: 100px;
        height: 30px;
    }

    @include for-phone-only(){
        font-size: 0.65rem;
        width: 90px;
        height: 25px;
    }
}

.hrRule{
    width: 45%;
    margin: 0 auto;
    height: 4px;
    background: -webkit-linear-gradient(left, #0d9692 25%, #203534);
    @include for-phone-only{
       width: 70%;
    }
    // border: 2px solid red;
 }

 a{
    color: $primaryColor;
}

// :export {
//     primaryColor: $primaryColor;
//     secondaryColor: $secondaryColor;
//     white: $white;
// }