@import '../../utils/variables.module.scss';

.reFooter{
    background: -webkit-linear-gradient(#0d9692, #203534);
    padding: 4% 4% 1%;
    color: $secondaryColor;
    font-size: 1rem;
    @include for-phone-only{
        font-size: 0.75rem;
    }
    h4{
        
        font-size: 1.5rem;
        display: inline-block;
        margin-bottom: 1rem;
        // border-bottom: 2px solid;

        @include for-phone-only{
            font-size: 1rem;
        }
    }
    p{
        margin-bottom: 0.75rem;
        a{
            // font-size: 0.85rem;
            color: $secondaryColor;
            text-decoration: none;
            border-bottom: 2px solid;
            &:hover,&:visited{
                color: inherit;
            }
        }
    }
    &_section{
        display: flex;
        justify-content: space-between;
        @include for-phone-only{
            flex-direction: column;
        }
        img{
            width: 250px;
            @include for-phone-only{
                width: 125px;
                display: none;
            }
        }

        &_contact{
            text-align: left;
        }
    }

    &_copy{
        text-align: left;
    }

    &_icon{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: 0 1rem;

            &:first-child{
                padding-left: 0;
            }
        }
        &_link{
            font-size: 1.25rem;
            color: $secondaryColor;
            &:hover,&:visited{
                color: inherit;
            }
        }
    }

    &_copy{
        margin: 1rem 0 0 0;
        display: flex;
        font-size: 12px;
        justify-content: center;

        

        @include for-phone-only{
            flex-direction: column;
            p{
                margin-bottom: 0;
            }
        }
        
        &_toc{
            // 
            display: inline;

            @include for-phone-only{
                display: flex;
                flex-direction: column;

                a{
                    border-bottom: none !important;
                    text-decoration: underline !important;

                }
            }
        }
    }

    .footer_disc{
        display: inline-block;
        font-size: 24px;
        position: relative;
        width: 20px;
        height: 20px;
        &::after{
            content: "";
            position: absolute;
            top: 6px;
            left: 8px;
            width: 2px;
            height: 20px;
            // border-radius: 50%;
            background: $white;
        }

        @include for-phone-only{
            display: none;
        }
    }
}