@import '../../utils/variables.module.scss';

.testimonials {
    .swiper-slide {
        height: 100% !important;
    }

    padding: 6% 6%;

    h3 {
        // font-weight: bold;
        font-size: 3rem;
        margin-bottom: 0;
        background: -webkit-linear-gradient(left, #0d9692 25%, #203534);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_section {
        display: flex;
        margin: 6% 0;
    }

    &_card {
        // flex-basis: 33%;
        margin: 0 7%;
        height: 100%;

        &_body {
            position: relative;
            // width: 33%;
            height: 100%;
            padding: 2% 0;
        }

        &_content {
            background-color: $tertiaryColor;
            padding: 4%;
            padding-top: 80px;
            box-shadow: 2px 3px 8px #888888;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_body {
                height: 100%;
                align-items: center;
                display: flex;
            }


            &_author {
                display: flex;
                align-items: center;

                &_name {
                    flex-basis: 75%;
                    text-align: left;
                }
            }
        }


        &_img {
            flex-basis: 25%;

            img {
                width: 75px;
                height: 75px;
                border: 5px solid #fff;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: 0rem;
    top: 0rem;
}

blockquote:after {
    content: '”';
    right: 0rem;
    bottom: 3rem;
}